<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midasit.carte.common.mapper.UserInfoMapper">
	<select id="selectUserInfo" parameterType="string" resultType="userInfo">
		SELECT user.user_seq AS userSeq
			 , user.user_id AS userId
			 , user.password AS password
			 , user.name AS name
			 , user.e_mail AS eMaiil
			 , user.rgst_ymdt AS rgstYmdt
			 , role.role_name AS roleName
		  FROM user user
		 INNER JOIN user_role role
		 		 ON user.role_id = role.role_id
		 WHERE user.user_id = #{userId}
	</select>
</mapper>